@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

body {
	margin: 0;
	font-family: "Caveat", cursive;
	line-height: 1.2;
}

:root {
	--background: #efefef;
	--card-bg: #ffffff;
	--white: #ffffff;
	--blue: #0075BE;
	--yellow: #FFCC00;
	--text: #0075BE;
	--number: #ffffff;
}

[data-theme='dark'] {
	--background: rgb(28, 28, 28);
	--card-bg: #292929;
	--white: #ffffff;
	--blue: rgba(255, 255, 255, .2);
	--yellow: rgba(255, 255, 255, .2);
	--text: #ffffff;
}

.pokemonApp {
	padding: 50px 0;
	background: var(--background)
}

h1 {
	font-size: 65px;
	margin: 0 0 20px;
	color: var(--text);
	text-align: center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}

.pokedex-list {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	margin: 40px 0;
	padding: 0;
	list-style-type: none;
}

.pokemon-item {
	height: 300px;
}

.pokemon-card {
	text-decoration: none;
	display: block;
	height: 100%;
}

.pokemon-card:focus {
	outline: 0;
}

.pokemon-card:hover .pokemon-card-holder {
	transform: rotateY(180deg);
}

.pokemon-card-holder {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
}

.pokemon-card-main,
.pokemon-card-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
    border-radius: 20px;
	position: absolute;
	background: var(--card-bg);
	height: calc(100% - 60px);
	width: calc(100% - 60px);
	left: 0;
	top: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.pokemon-card-details {
	transform: rotateY(180deg);
}

.pokemon-card-img {
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 0 20px;
}

.pokemon-card-img:after {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: rgba(0, 117, 190, .5);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	z-index: 0;
}

.pokemon-card-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
	z-index: 1;
}

.pokemon-card-name {
	color: var(--text);
	font-size: 30px;
	margin: 0 0 20px;
	text-transform: capitalize;
	font-weight: 700;
}

.pokemon-card-id {
	background: var(--blue);
	color: var(--white);
	position: absolute;
	top: 0;
	left: 0;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 10px;
	padding: 10px;
	font-weight: 700;
}

.pokemon-card-type {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pokemon-card-type li {
	margin: 0 5px;
	display: flex;
	align-items: center;
	background: var(--yellow);
	color: var(--text);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 18px;
}

.pokemon-card-info {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pokemon-card-info li {
	margin: 0 0 10px;
	background: var(--yellow);
	color: var(--text);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 18px;
	text-align: center;
}

.pokemon-card-info li:last-child {
	margin: 0;
}

.btn {
	display: flex;
	align-items: center;
	background: var(--blue);
	color: var(--white);
	padding: 15px 40px;
	border-radius: 20px;
	font-size: 20px;
	border: 1px solid var(--blue);
	margin: 0 auto;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Caveat", cursive;
	font-weight: 700;
}

@media(max-width: 1023px) {
	.pokedex-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(max-width: 479px) {
	.pokedex-list {
		grid-template-columns: repeat(1, 1fr);
	}
}